.bodyarticle{
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}
.articleCards {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.categoryaside {
  width: 25%;
  color: black !important;
}
.categoryaside a{

    color: black !important;
  }
.showArticleTitle{
  color: #fff;
    height: 30%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: rgba(0, 0, 0, 0.7);
width: 100%;
  }
.showArticle{
background-size: cover;
background-repeat: no-repeat;
    height: 600px;
display: flex;
flex-direction: column;
justify-content: flex-end;
  }
  .showArticleContent{
    padding: 5rem 2rem ;
    width: 60%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: left;
gap: 2rem;
  }
  .showArticleContent>*{
    min-width: 100%;
  }
@media screen and (min-width: 75em) {
    .articleCards {
        width: 73%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
      }
      .bodyarticle{
        gap: 2rem;
    }
  }