/* footer css  */
.footer {
  background-color: #000;
  color: #fff;
}
.footer--adress {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
}
.footer--copyright {
  border-top: 0.1rem solid #dcdcdc;
  padding: 2rem;
  text-align: center;
}
.footer--newsletter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Form__Input {
  width: 80%;
  padding: 1.2rem 1.4rem;
  color: #000;
  text-align: center;
  background-color: #a7a095;
  border: 0.1rem solid #dcdcdc;
}
::placeholder {
  color: black;
  opacity: 1;
}

.Form__button {
  width: 18rem;
  padding: 1.4rem 1.6rem;
  letter-spacing: 0.2em;
  color: #fff;
  background-color: #000;
  border: #000 solid;
}

.footer--social {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* 
      -------------------------------------------------------------------------midia------------------------------------------------------------------------------ */
@media screen and (min-width: 75em) {
  /* navbar */
  .navMobile{
    display: none;
          }
          .nav{
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            width: 95%;
          }
          .ulId {
            width: calc(100% / 3);
          }

/* footer */
  .footer-container {
    flex-direction: row;
    gap: 2rem;
  }
  .footer--newsletter {
    width: calc(100% / 4);
  }
}
